<html>
<head>
  <title>Mycodo Stats</title>
  <style type="text/css">
    table td, th {
      padding: 0.2em 0.3em;
    }
  </style>
  <link rel="stylesheet" href="/static/dark.css">
  <script type="text/javascript" src="/static/highstock.js"></script>
  <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/highmaps-8.0.0.js"></script>
  <script type="text/javascript" src="/static/dark-unica.js"></script>
</head>
<body>
<a href="/">Home</a>
Pi 
{% for series in stats_data_id.series if series.name == 'RPi_revision' %}
  {% for key, value in series.items() if key == 'values' %}
    {% for revision, pi_model in pi_versions.items() if revision == value[0][1] %}
      {{pi_model}}
    {% endfor %}
  {% endfor %}
{% endfor %}

({%- for series in stats_data_id.series if series.name == 'id' -%}
  {%- for key, value in series.items() if key == 'values' -%}
    {%- for id, own_host in own_ids.items() if id == value[0][1] -%}
      {{own_host}}
    {%- else -%}
      {{value[0][1]}}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%})

<table style="font-family:Consolas, monospace">
  <tr>
    <td>Time</td>
    {% for each_data in parsed_data['time'] %}
      <td>{{each_data}}</td>
    {% endfor %}
  </tr>
  {% for stat, _, stat_name_full in stats if stat != 'next_send' %}
  <tr>
    <td style="white-space: nowrap;">{{stat_name_full}}</td>
    {% for each_data in parsed_data[stat] %}
    <td>{{each_data}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<div id="chart_versions"></div>

<script>
  $(document).ready(function() {
    new Highcharts.StockChart({
      chart : {
        renderTo: 'chart_versions',
      },

      title: {
        text: null
      },

      tooltip: {
        shared: true,
        split: false
      },

      navigator: {
        enabled: false
      },

      scrollbar: {
        enabled: true
      },

      yAxis: {
        title: {
          text: 'Version'
        }
      },

      credits: {
        enabled: false,
      },

      xAxis: {
        type: 'datetime',
      },

      data: {
        parseDate: Date.parse
      },

      series: [
        {
          name: 'Major',
          data: [
          {% for each_version in list_versions %}
            ["{{each_version[0][:-11]}}", {{each_version[1][0]}}],
          {% endfor %}
          ].map(function(point) {
            return [Date.parse(point[0]), point[1]]
          })
        },
        {
          name: 'Minor',
          data: [
          {% for each_version in list_versions %}
            ["{{each_version[0][:-11]}}", {{each_version[1][1]}}],
          {% endfor %}
          ].map(function(point) {
            return [Date.parse(point[0]), point[1]]
          })
        },
        {
          name: 'Revision',
          data: [
          {% for each_version in list_versions %}
            ["{{each_version[0][:-11]}}", {{each_version[1][2]}}],
          {% endfor %}
          ].map(function(point) {
            return [Date.parse(point[0]), point[1]]
          })
        },
      ]
    });
  });
  </script>

</body>
</html>
