<html>
<head>
  <title>Mycodo Stats</title>
  <style type="text/css">
    table td, th {
      padding: 0.2em 0.3em;
    }
  </style>
</head>
<body>
<a href="/">Home</a>
Pi 
{% for series in stats_data_id.series if series.name == 'RPi_revision' %}
  {% for key, value in series.iteritems() if key == 'values' %}
    {% for revision, pi_model in pi_versions.iteritems() if revision == value[0][1] %}
      {{pi_model}}
    {% endfor %}
  {% endfor %}
{% endfor %}

({%- for series in stats_data_id.series if series.name == 'id' -%}
  {%- for key, value in series.iteritems() if key == 'values' -%}
    {%- for id, own_host in own_ids.iteritems() if id == value[0][1] -%}
      {{own_host}}
    {%- else -%}
      {{value[0][1]}}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%})

<table style="font-family:Consolas, monospace">
  {% for each_id, each_category in stats_data_id.iteritems() %}
    <tr>
      <td>Time</td>
      {% for series in stats_data_id.series if series.name == 'id' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[0]|datetime}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Country</td>
      {% for series in stats_data_id.series if series.name == 'country' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>M Ver.</td>
      {% for series in stats_data_id.series if series.name == 'Mycodo_revision' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>A Ver.</td>
      {% for series in stats_data_id.series if series.name == 'alembic_version' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Start</td>
      {% for series in stats_data_id.series if series.name == 'daemon_startup_seconds'  %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]|float|round(1)}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Ram</td>
      {% for series in stats_data_id.series if series.name == 'ram_use_mb' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]|float|round(1)}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Guests</td>
      {% for series in stats_data_id.series if series.name == 'num_users_guest' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Admins</td>
      {% for series in stats_data_id.series if series.name == 'num_users_admin' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Timers</td>
        {% for series in stats_data_id.series if series.name == 'num_timers' %}
          {% for key, value in series.iteritems() if key == 'values' %}
            {% for each_value_ts in value %}
              <td>{{each_value_ts[1]}}</td>
            {% endfor %}
          {% endfor %}
        {% endfor %}
    </tr>
    <tr>
      <td>Timers Active</td>
        {% for series in stats_data_id.series if series.name == 'num_timers_active' %}
          {% for key, value in series.iteritems() if key == 'values' %}
            {% for each_value_ts in value %}
              <td>{{each_value_ts[1]}}</td>
            {% endfor %}
          {% endfor %}
        {% endfor %}
    </tr>
    <tr>
      <td>Sensors</td>
      {% for series in stats_data_id.series if series.name == 'num_sensors' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Sensors Active</td>
      {% for series in stats_data_id.series if series.name == 'num_sensors_active' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Conditionals</td>
      {% for series in stats_data_id.series if series.name == 'num_conditionals' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Conditionals Active</td>
      {% for series in stats_data_id.series if series.name == 'num_conditionals_active' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Relays</td>
      {% for series in stats_data_id.series if series.name == 'num_relays' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Methods</td>
      {% for series in stats_data_id.series if series.name == 'num_methods' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>Methods in PID</td>
      {% for series in stats_data_id.series if series.name == 'num_methods_in_pid' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>PIDs</td>
      {% for series in stats_data_id.series if series.name == 'num_pids' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>PIDs Active</td>
      {% for series in stats_data_id.series if series.name == 'num_pids_active' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>LCDs</td>
      {% for series in stats_data_id.series if series.name == 'num_lcds' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
    <tr>
      <td>LCDs Active</td>
      {% for series in stats_data_id.series if series.name == 'num_lcds_active' %}
        {% for key, value in series.iteritems() if key == 'values' %}
          {% for each_value_ts in value %}
            <td>{{each_value_ts[1]}}</td>
          {% endfor %}
        {% endfor %}
      {% endfor %}
    </tr>
  {% endfor %}

</table>

</body>
</html>
