<html>
<head>
  <title>Mycodo Stats</title>
  <style type="text/css">
    table td, th {
      padding: 0.2em 0.3em;
    }
  </style>
  <script language="JavaScript" type="text/javascript">
    function sort(type)
    {
      document.sorttypeform.sorttype.value = type ;
      document.sorttypeform.submit() ;
    }
    function time(type)
    {
      document.sorttypeform.timeframe.value = type ;
      document.sorttypeform.submit() ;
    }
  </script>
  <style>
    td {
        font-size: 0.8em;
    }
  </style>
  <script src="/static/jquery-3.0.0.min.js"></script>
  <script src="/static/highmaps.js"></script>
  <script src="/static/world.js"></script>
</head>
<body>

<form name="sorttypeform" method="post" action="/">
<input type="hidden" id="timeframe" name="timeframe" value="{{timeframe}}" />
{%- if timeframe == '730' %}2y {% else -%}<a href="javascript:time('730')">2y</a> {% endif -%}
{%- if timeframe == '365' %}1y {% else -%}<a href="javascript:time('365')">1y</a> {% endif -%}
{%- if timeframe == '182' %}6m {% else -%}<a href="javascript:time('182')">6m</a> {% endif -%}
{%- if timeframe == '30' %}1m {% else -%}<a href="javascript:time('30')">1m</a> {% endif -%}
{%- if timeframe == '10' %}10d {% else -%}<a href="javascript:time('10')">10d</a> {% endif -%}
{%- if timeframe == '3' %}3d {% else -%}<a href="javascript:time('3')">3d</a> {% endif -%}

<input type="hidden" id="sorttype" name="sorttype" value="{{sort_type}}"/>
<table style="font-family:Consolas, monospace">
  <tr>
    <th>#</th>
    {% for name, sort, _ in columns %}
      {% if name == 'Last' %}
    <th>Last</th>
      {% else %}
    <th>{%- if sort_type == sort -%}{{name}}{%- else -%}<a href="javascript:sort('{{sort}}')">{{name}}</a>{%- endif -%}</th>
      {% endif %}
    {% endfor %}
  </tr>
  {%- for each_id, each_category in ids.iteritems() -%}
    <tr>
      <td>{{loop.index}}</td>
      <td><a href="/id/{{each_id}}">{{parsed_data[each_id]['host']}}</a></td>
      <td>{{parsed_data[each_id]['time']}}</td>
    {% for _, stat, stat_add in columns if stat not in ['id', 'last'] %}
      <td>{% if stat_add %}{{parsed_data[each_id][stat_add]}}/{% endif %}{{parsed_data[each_id][stat]}}</td>
    {% endfor %}
    </tr>
  {%- endfor -%}
  
</table>
</form>

  <div id="container"></div>

  <script>
    $(function () {
      $('#container').highcharts('Map', {
        title: {
          text: null
        },

        mapNavigation: {
          enabled: true
        },

        colorAxis: {
          min: 1,
          max: 10,
          stops: [
            [0, '#4C4CFF'],
            [0.1, '#4C4CFF'],
            [0.3, '#00FF00'],
            [0.4, '#FF7700'],
            [1, '#FF0000']
          ]
        },

        chart: {
          borderWidth: 0
        },

        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'bottom'
        },

        credits: {
          enabled: false,
        },

        series: [{
          allAreas: true,
          mapData: Highcharts.maps['custom/world'],
          showInLegend: false,
          data: [
            {%- for code, value in countries_count.iteritems() -%}
            {
              code: '{{code}}',
              value: {{value}}
            }{%- if not loop.last -%},{%- endif -%}
            {% endfor %}
          ],
          states: {
            hover: {
              color: Highcharts.getOptions().colors[2]
            }
          },
          joinBy: ['iso-a2', 'code']
        }]
      });
    });
  </script>

</body>
</html>
